body{
    margin: 0;
}
header{
    display: flex;
}
#reactlogo{
    width: 75px;
    height: 75px;
    min-height: 50px;
    max-width: 50px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}