body{
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    height: auto;
    justify-content: space-around;
    padding: 8px;
}
.gallery{
    display: flex;
    flex-shrink: 0;
}
.item{
    max-width: 75px;
    max-height: 50px; 
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    gap: 12px;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: white
}
li {
    list-style-type: none;
    text-decoration: none;
}

